.avatarAndName{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: 0%; */
}
.avatar{
    width: 70px;
    height:70px;
    border-radius: 50%;
    object-fit: cover;
      border: 2px solid white;

}
.iconprew{
    display: flex;
    align-items: center;
    /* background-color: rgb(92, 93, 68); */

}
.actionBUtonns{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.searchAndAdd{
    display: flex;
    align-items: center;
    gap: 30px;
}
.selectAdd{
    padding: 7px 20px;
    /* margin-top: 20px;color: aqua; */
}
